html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Advent Pro', sans-serif;
	color: #37474f;
	font-size: 1.6rem;
	background: #d0d0d0;
}

.page-header {
	margin-top: -15px;
	text-align: center;
}

.page-nav .navigation-menu {
	display: block;
}

.page-nav .navigation-menu li {
	margin-bottom: 10px;
}

.page-nav .navigation-menu a{
	text-decoration: none;
	color: #ffffff;
}

.page-nav .hamburger {
	border: 0;
	background: 0;
	float: right;
	padding-top: 5px;
	position: relative;
}

.page-nav .hamburger img {
	width: 40px;
}

.page-nav .navigation-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	margin-top: -5px;
	padding-top: 10px;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
}

.article .article-header {
	background: url(img/tlo.jpg) no-repeat;
	background-size: cover;
	background-position: 60%;
	text-align: center;
}

.article .article-title,
.article p {
	color: #ffffff;
}

.article .article-title {
	margin-top: -6px;
	padding-top: 170px;
	font-size: 6rem;
	margin-bottom: 0;
}

.article p {
	font-size: 3rem;
	margin-top: 0;
}

.bity ul {
	list-style-type: none;
	padding: 0;
}

.bity ul li {
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.9;
}

.bity ul li a{
	font-size: 2rem;
	color: #ffffff;
	text-decoration: none;
	padding: 50px 100px 50px 100px;
}

.bity ul li:first-child {
	background: url(img/black-night.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(2) {
	background: url(img/throwback.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(3) {
	background: url(img/still-breaking.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(4) {
	background: url(img/the-mysterious.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(5) {
	background: url(img/monster.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.article .mpc img {
	border-radius: 100%;
	width: 90px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.article .studio img {
	width: 100%;
}

.article .studio-description {
	text-align: justify;
	padding: 10px;
	font-size: 2rem;
}