html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Advent Pro', sans-serif;
	color: #37474f;
	font-size: 1.6rem;
	background: #d0d0d0;
}

.page-header {
	margin-top: -15px;
	text-align: center;
}

.page-nav .navigation-menu {
	display: none;
}

.page-header.nav-opened .page-nav .navigation-menu {
	display: block;
}

.page-nav .navigation-menu li {
	margin-bottom: 10px;
}

.page-nav .navigation-menu a{
	text-decoration: none;
	color: #ffffff;
}

.page-nav .hamburger {
	border: 0;
	background: 0;
	right: 0;
	padding-top: 5px;
	position: fixed;
	z-index: 2;
}

.page-nav .hamburger img {
	width: 40px;
}

.page-nav .navigation-menu, .page-nav .navigation-menu-2 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	margin-top: -5px;
	padding-top: 10px;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2;
	border-bottom: 3px solid #FC5;
}

.page-nav .navigation-menu-2 {
	margin-top: 10px;
	font-size: 1.3rem;
	width: 50%;
	position: absolute;
	left: 25%;
	padding-bottom: 10px;
	display: none;
}

.page-nav .navigation-menu li:last-child:hover .navigation-menu-2 {
	display: none;
}
	
.page-nav .navigation-menu-2 li a {
	display: block;
}

.article .article-header {
	background: url(img/tlo.jpg) no-repeat;
	background-size: cover;
	background-position: 60%;
	text-align: center;
}

.article .article-header,
.bity,
.studio {
	border-bottom: 5px solid #fc5;
}

.article .article-title,
.article p {
	color: #ffffff;
}

.article .article-title {
	margin-top: -6px;
	padding-top: 170px;
	font-size: 6rem;
	margin-bottom: 0;
}

.article p {
	font-size: 3rem;
	margin-top: 0;
}

.bity ul {
	list-style-type: none;
	padding: 0;
}

.bity ul li {
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.9;
	z-index: 1;
}

.bity ul li a{
	font-size: 2rem;
	color: #ffffff;
	text-decoration: none;
	padding: 50px 100px 50px 100px;
}

.bity ul li:first-child {
	background: url(img/black-night.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(2) {
	background: url(img/throwback.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(3) {
	background: url(img/still-breaking.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(4) {
	background: url(img/the-mysterious.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity ul li:nth-child(5) {
	background: url(img/monster.jpg) no-repeat;
	
	background-size: 100% 100%;
}

.bity {
	padding-bottom: 0;
}

.article .mpc img {
	border-radius: 100%;
	width: 90px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.article .studio img {
	width: 100%;
}

.article .studio-description {
	text-align: justify;
	padding: 10px;
	font-size: 1.8rem;
	font-family: 'Arimo', sans-serif;
}

@media (min-width: 373px) {
	.bity ul li {
		padding-top: 125px;
		padding-bottom: 125px;
	}

	.bity ul li a {
		font-size: 3rem;
	}
}

@media (min-width: 40em) {
	.page-nav .hamburger {
		display: none;
	}

	.page-nav .navigation-menu {
		display: inline;
		border-bottom: 3px solid #FC5;
		left: 0;
		padding-bottom: 10px;
	}

	.page-nav .navigation-menu li {
		display: inline;
		border-right: 2px solid #FC5;
		padding: 10px 50px 10px 50px;
		border-left: 2px solid #FC5;
	}

	.page-nav .navigation-menu li:hover {
		background: rgba(255, 255, 255, 0.7);
	}

	.page-nav .navigation-menu li a {
		
		width: 100%;
	}

	.page-nav .navigation-menu-2 li {
		border: none;
	}
}